@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-gray-600 text-blue-50;
  }
  h1 {
    @apply text-3xl font-bold leading-tight mb-4;
  }

  h2 {
    @apply text-2xl font-semibold mb-4;
  }

  h3 {
    @apply text-xl font-semibold mb-4;
  }
  h4 {
    @apply text-lg font-semibold mb-4;
  }

  p {
    @apply text-base leading-relaxed mb-4;
  }

  ul {
    @apply list-disc pl-6 space-y-1 mb-4;
  }
  a {
    @apply text-blue-200 underline;
  }
}
